body {
    background-color: rgb(240, 240, 230);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #2a348a;
    font-weight: bold;
}

#index1 {
    color: #2a348a;
    text-align: center;
    font-size: 35px;
    font-family: Arial, sans-serif;

}

#index2 {
    color: #2a348a;
    text-align: center;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#index8{
    color: #636fe1;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.input {
    width: 30%;
    padding: 12px 15px;
    margin: 8px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
}


.button {
    width: 20%;
    background-color: #9cb9db;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #87b4e7;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.table {
    border: 2px solid rgb(45, 87, 237);
    width: 80%;
    height: auto;
    text-align: center;
    border-collapse: collapse;

}

.table,
th,
tr,
td {
    border: 1px solid;
    padding: 16px;
}

.center {
    float: center;
    display: flex;
    justify-content: center;

    height: 200px;
}

.img {
    border: 5px solid rgb(174, 215, 240);
    border-radius: 20px;
    text-align: center;
}

.img1 {
    text-align: center;
    border: 5px solid rgb(224, 192, 255);
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}